<div class="container bootstrap snippet">
  <div class="panel-body inf-content">
      <div class="row">
          <div class="col-md-12">
              <strong>Thông tin cá nhân</strong><br>
              <div class="table-responsive">
              <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                  Username                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                              LinhDepTrai     
                          </td>
                      </tr>
                      <tr>    
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-user  text-primary"></span>    
                                  Họ và tên lót                                              
                              </strong>
                          </td>
                          <td class="text-primary">
                              Hữu Linh     
                          </td>
                      </tr>
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                  Tên                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                              Linh nè  
                          </td>
                      </tr>
  
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                  Loại tài khoản                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                              Người tham gia đấu giá 
                          </td>
                      </tr>
  
  
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                  Role                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                              Admin
                          </td>
                      </tr>
                      <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                    Số điện thoại                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                0965224115
                            </td>
                        </tr>
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                  Email                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                              noreply@email.com  
                          </td>
                      </tr>
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  Ngày tạo tài khoản                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                              20 jul 2019
                          </td>
                      </tr>
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  Thành viên VIP                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                               Không
                          </td>
                      </tr>   
                      <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    Tiền trong tài khoản                                            
                                </strong>
                            </td>
                            <td class="text-primary">
                                 20 000
                            </td>
                        </tr>                                   
                  </tbody>
              </table>
              </div>
          </div>
      </div>
  </div>
  </div>                                        