<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Aditii</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Trang chủ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Phiên đấu giá chung</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Câu hỏi thường gặp</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Các hình thức đấu giá</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Chính sách của chúng tôi</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Danh mục sản phẩm</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Nội thất</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Phong Thủy</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Công nghệ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Trải nghiệm</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Tất cả danh mục</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Kết nối với chúng tôi</h5>
					<ul class="list-unstyled quick-links">
							<li><a href="javascript:void();"><i class="fa fa-facebook"></i> Facebook</a></li>
							<li><a href="javascript:void();"><i class="fa fa-twitter"></i>Twitter</a></li>
							<li><a href="javascript:void();"><i class="fa fa-instagram"></i>Instragram</a></li>
							<li><a href="https://aws.amazon.com"><i class="fa fa-google-plus"></i>Google+</a></li>
							<li><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i>support@aditii.nhom7.iuh.edu</a></li>
					</ul>
				</div>
			</div>				
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://github.com">Website hỗ trợ đấu giá trực tuyến</a></u> giúp phiên đấu giá diễn ra nhanh chóng, chính xác và thuận tiện</p>
					<p class="h6">Được xây dựng và phát triển bới Nhóm 07 - Công Nghệ Mới - IUH<a class="text-green ml-2" href="https://github.com" target="_blank"></a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->