<ngb-carousel>
	<ng-template ngbSlide>		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="picsum-img-wrapper">
							<img src="assets/images/tuongco.jpg" alt="Random first slide">
						</div>
			</div>			
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">				
		<div class="carousel-caption">
				<h3>TƯỢNG ĐỒNG 300 NĂM TUỔI</h3>
				<p>xuất hiện vào thời nhà vua Minh Mạng.</p>
				<p>Phiên đấu giá sắp được diễn ra vào ngày 10/11/2019</p>
			</div>
			</div>			
		</div>		
	</ng-template>

	<ng-template ngbSlide>		
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="picsum-img-wrapper">
								<img src="assets/images/Logo_IUH.png" alt="IUH">
							</div>
				</div>			
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">				
						<div class="carousel-caption">
								<h3>NHÓM 07</h3>
								<p>Linh - Hữu - Đạt</p>
							</div>
				</div>			
			</div>		
		</ng-template>

		<ng-template ngbSlide>		
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="picsum-img-wrapper">
									<img src="assets/images/aution.jpg" alt="Random first slide">
								</div>
					</div>			
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">				
							<div class="carousel-caption">
									<h3>Aditii</h3>
									<p>Website hỗ trợ đấu giá nhanh chóng, chính xác và thuận tiện</p>
								</div>
					</div>			
				</div>		
			</ng-template>
</ngb-carousel>