<nav class="navbar navbar-expand-lg navbar-light header_btm">
	<a class="navbar-brand" routerLink="/">Đấu giá trực tuyến Aditii</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav w-100 justify-content-center mr-auto">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/">Trang chủ</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/">Phiên đấu giá chung</a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link" href="#">Phiên đấu giá của tôi</a>
			</li> -->
			<li class="nav-item dropdown" ngbDropdown>
				<a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<!-- Tài khoản -->
					<!-- {{(auth.user$ | async).userName }} -->
				</a>
				<div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" routerLink="create-auction">Tạo phiên đấu giá</a>
					<a class="dropdown-item" routerLink="/">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" routerLink="/">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Nạp tiền</a>
			</li>
		</ul>
	</div>
</nav>