<div class="container m-4">
	<div class="row">
		<div *ngFor="let product of products" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p *ngIf="product.auctionCondition.vipAccount" class="badge badge-warning">Thành viên VIP</p>
				<!-- <p class="badge badge-warning">Hoạt động trên 10 ngày</p>	 -->
				<img [src]="product.avatarUrl" class="card-img-top img-product" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{product.productName}}</h5>
					<div [ngSwitch]="product.liveStatus">
						<div *ngSwitchCase="1">
							<span class="badge badge-success">Đang diễn ra</span>
							<br>
							<label>Còn lại <span>
									{{ product.timer?.hour }}:{{ product.timer?.minute }}:{{product.timer?.second}}
								</span> </label>
						</div>
						<div *ngSwitchCase="2">
							<span class="badge badge-danger">Đã kết thúc</span>
						</div>
						<div *ngSwitchCase="0">
							<span class="badge badge-warning">Sắp diễn ra</span>
							<br>
							<label>{{product.startTime | date:'dd/MM/yyyy hh:mm:ss'}}</label>
						</div>
					</div>
					<a routerLink="/auction-product/{{product.ownerId}}/{{product.createTime}}"
						class="btn btn-primary">Xem chi tiết</a>
				</div>
			</div>
		</div>
	</div>
</div>